@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }
}

:root {
  --background-color: #fff;
  --color: #000;
}

.dark {
  --background-color: #141414;
  --color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

* {
  transition: 0.3;
}

.ant-table-cell {
  @apply p-1 !important;
}

.ant-card-body {
  @apply py-2 !important;
}

/* body {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

.ant-menu-root, .ant-input-wrapper, .ant-input-group-addon {
  @apply bg-inherit !important
}

.ant-input-affix-wrapper{

  @apply bg-[#C1E899]
}
.ant-input-search-button {

  @apply bg-[#94DEA5]
} */
